<a href="https://colab.research.google.com/github/Ibtasam-98/basic-python/blob/main/BasicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variable and Integer

Variable and Integers

# Variables and Integers

In [4]:
age = 40
price = 2.0
name = "Ibtasam"
is_student = True
print(type(age))
print(type(price))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# Operators

In [8]:
x = 5
y = 5
print("Addition : ",x+y)
print("Subtraction : ",x-y)
print("Divison : ",x/y)
print("Multiplication : ",x*y)
print("Modulus : ",x ** y)
print("Exponentiation : ",x % y)

# Comparison operator
if x == y:
  print("x and y are equal")
else:
  print("x and y are not equal")

Addition :  10
Subtraction :  0
Divison :  1.0
Multiplication :  25
Modulus :  3125
Exponentiation :  0
x and y are equal

# Array

In [34]:

fruits = ["Apple", "Banana", "Orange"]
print(f"Original Array : {fruits}")
print(f"Fruit at 1st Array : {fruits[0]}")

# Modifying elements
fruits[1] = "Cherry"
print(f"Modified list: {fruits}")

# Append element in Array
fruits.append("Peach")
print(f"After Append :{fruits}")

# Remove element from Array
fruits.remove("Apple")
print(f"After removing: {fruits}")


# Slicing of Array
arr = [1,2,3,4,5]
print(f"slice from Index 1 to 3 :{arr[1:4]}")
print(f"slice from begining :{arr[:2]}")
print(f"slice from end :{arr[2:]}")

Original Array : ['Apple', 'Banana', 'Orange']
Fruit at 1st Array : Apple
Modified list: ['Apple', 'Cherry', 'Orange']
After Append :['Apple', 'Cherry', 'Orange', 'Peach']
After removing: ['Cherry', 'Orange', 'Peach']
slice from Index 1 to 3 :[2, 3, 4]
slice from begining :[1, 2]
slice from end :[3, 4, 5]

# Dictionaries

In [53]:
person = {
    "name": "Bob",
    "age": 25,
    "city": "New York"
}
print(person)


# Accesing specific value
print(f"Specific age , {person['age']}")

person['age'] = 40
print(f"Add new age , {person['age']}")


# Add new key value pair
person['occupation'] = "Engineer"
print(person)

# Iterating through key
print("----------------")

print("Keys: ")
for key in person:
  print(person[key])

print("----------------")
print("Values: ")
for value in person:
  print(person[value])
print("----------------")

print("Key value pair")
for key, value in person.items():
  print(f"{key}, {value}")
print("----------------")

{'name': 'Bob', 'age': 25, 'city': 'New York'}
Specific age , 25
Add new age , 40
{'name': 'Bob', 'age': 40, 'city': 'New York', 'occupation': 'Engineer'}
----------------
Keys:
Bob
40
New York
Engineer
----------------
Values:
Bob
40
New York
Engineer
----------------
Key value pair
name, Bob
age, 40
city, New York
occupation, Engineer

# Control Flow

In [56]:
score = 50

if score >= 80:
  print("Grade A")
elif score >= 60:
  print("Grade B")
elif score >= 50:
  print("Grade C")
elif score >= 45:
  print("Fail")

Grade C

# Loops

In [62]:
colors = ["red", "green", "blue"]

for colors in colors:
  print(colors)

# Iterating by using range
for i in range(5):
  print(i)


# While loop
count = 0
while count < 5:
  print(count)
  count += 1

red
green
blue
0
1
2
3
4
0
1
2
3
4

# Functions

In [ ]:
def